body {
    background: url('../images/6140.jpg');
    background-size: cover;
    background-repeat: repeat;
    font-family: 'Montserrat', sans-serif;
}
.container {
    background: lightskyblue;
    opacity: .9;
}
.container h1 {
    margin-top: 150px;
    color: white;
    font-weight: bolder;
}

.container #start {
    margin-top: 200px;
    padding: 40px 60px;
}


#questions-div {
    text-align: center;
    font-weight:  bold;
    color: white;
}

#remaining-time {
    height: 50px;
    color: white;
    font-weight: bolder;
}

.answerChoice {
    border: 1px solid black;
  border-radius: 5%;
	width: 40%;
	color: black;
  text-align: center;
  margin: 10px auto;
  font-size: 20px;
  background-color: white;
}